@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-Semibold.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-Bold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-Extrabld.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-RegularIt.woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-SemiboldIt.woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-BoldIt.woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-ExtrabldIt.woff2');
  font-weight: 700;
  font-style: italic;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  

  /* overflow-x: hidden; */

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

  display: grid;
  place-items:center;
  height:100svh;
  width:100svw;
} 


/* #root{
  >*{
    outline: solid 1px red;
  }
} */

* {
  font-family: 'proxima';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  text-align: center;
}


#root {
  /* height: 100%; */
  overflow-x: hidden;
  background: linear-gradient(135deg, rgba(74,222,128,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 75%, rgba(74,222,128,1) 100%) !important;
}

/* :root::before {
  content: '';
  position: fixed;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(250, 42, 42, 0.8) 0%, rgba(255, 255, 254, 0) 70%);
  bottom: -450px;
  left: 200px;
  z-index: -1;
  border-radius: 100rem;
} */

/* #root::after {
  content: '';
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(0, 98, 236, .8) 0%, rgba(255, 255, 254, 0) 70%);
  position: fixed;
  top: -500px;
  right: 200px;
  z-index: -1;
  border-radius: 100rem;
} */
/* #root::before {
  content: '';
  position: fixed;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(74,222,128,1.0) 0%, rgba(255, 255, 254, 0) 70%);
  top: -350px;
  left: -450px;
  z-index: -1;
  border-radius: 100rem;
}
:root::after {
  content: '';
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(74,222,128,1.0) 0%, rgba(255, 255, 254, 0) 70%);
  position: fixed;
  bottom: -350px;
  right: -450px;
  z-index: -1;
  border-radius: 100rem;
} */





.titleHead {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}

.mainEntry {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;



  button {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .col1 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .col2 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;


    label {
      text-align: left;
    }

    label::after {
      content: ':';
    }
  }


  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(0, 0, 0);
  font-weight: 500;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}






  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }


}

.mainTable {

  h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
  }

  .userInfo {
    display: grid;
    /* width: 60%; */
  
    
    grid-auto-flow:column;
    grid-template-rows: repeat(4, auto);
    text-align: left;

    
    h1{
      grid-column: 1/7;
    }


    span {
      display: block;
    }


    >* {
      margin: 0;
    }
  }

  .examLinks {
    display: flex;
    flex-direction: row;
    align-items: stretch;


    div {
      width: 100%;
      display: flex;
      flex-direction: column;

      svg {
        align-self: center;
        color: #18181b;
      }
    }


    



    a {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    

    
  }
  

  #submitExam{
    /* background-color: var(--black);
    color: var(--bg);
    font-weight: 500; */
  }

}


.examBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  * {
    list-style-type: none;
    /* background:rgba(162, 0, 255, 0.466); */
    box-sizing: border-box;
  }

  h2{
    width: 50%;
  }

  .questionContainer {
    display: flex;
    flex-direction: column;
  }

  .questionBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;





    p {
      text-align: left;
      cursor: context-menu;
    }

    ul {

      text-align: left;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      li {
        width: 100%;
        
      }



      label {
        width: 100%;
        cursor: pointer;
      }

    }

  }



}



#printContainer {

  background-color: white;
  padding: 1.5rem;
  display: grid;
*{  line-height: 1.5;}


  *{box-sizing: border-box; color:black;
  }  

  * {
    margin: 0;
    padding: 0;
  }
}

#headerTitle {
  /* border: solid 1px red; */
  /* height: 5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'proxima' !important;

  div {
    font-size: 36px;
    outline: solid 1px black;
    font-weight: 500;
    display:flex;
    margin: 0;
    color: black;
    align-items:  center;
    position: relative;
    gap: 1rem;
    position: relative;

    img{
      height: 3.5rem;
      position: absolute;
      left: -4.5rem;
      top: 1rem;

    }
  }
  
  img {
  padding-right: .5rem !important;
  vertical-align: middle;
}

.regTitle {
  padding: .5rem 0 !important;
  font-weight: 600;
}


}




#infoContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  text-align: left;


  #name {
    grid-column: 1/4;
  }

  #address {
    grid-column: 1/5;
  }

  #birthday {
    grid-column: 1/2;
  }

  #birthplace {
    grid-column: 2/5;
  }

  #contactNum {
    grid-column: 1/2;
  }

  #guardian {
    grid-column: 2/5;
  }

  #schoolLastAdd,
  #courseTaken,
  #schoolLast {
    grid-column: 1/5;
  }

  #courseInfo {
    grid-column: 1/5;
  }

  #courseOne,
  #courseTwo {
    grid-column: 2/5;
    margin-left: -10rem;
  }

}

#reqBox {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: dashed 1px black;
  margin-bottom: 1rem;


  .reqList {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
  }

  .nameSig {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nameSig {
    grid-column: 2/4;
    text-align: center;
  }



}

.namePlate::after {
  content: '';
  width: 100%;
  display: block;
  padding-bottom: .5rem;
  border-bottom: solid 1px black;
  text-align: center;

}

h4 {
  text-align: left;
  /* padding-top: 1rem; */
}

.letterScore {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);


  #date {
    text-align: right;
    margin-bottom: 2rem;
    grid-column: 2/4;
  }

  span {
    font-style: italic;
    /* font-weight: 400 !important; */
  }

  #letter1 {
    grid-column: 1/4;
  }

  .nameSig {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nameSig {
    grid-column: 2/4;
    text-align: center;
  }
}

#examResult {
  display: grid;
  grid-template-columns: repeat(2, auto);
  text-align: left;

  .nameSig {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sig {
    width: 14rem;

  }

  .sigBox {
    margin-top: 4rem;
  }

  p {
    grid-column: 1/3;
  }

  .sirPabs {
    grid-column: 1/2;
  }

}

.namePlate {
  font-weight: 600;
}

#pdf {
  /* background-color: var(--black); */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: .5rem;
  background-color: transparent;
}

#pdf:hover{
  border: none;
  border: rgba(17, 25, 40, 0.5) solid 1px;
}


.userData{
  /* padding-bottom: 1rem;
*/
font-weight: 500;
}

[contenteditable="true"] {
  /* background: rgba(74,222,128,1); */
  border-bottom: 1px solid black;
  /* padding:8px; */
  transition: all 0.5s, color 0.3s;
}

[contenteditable="true"]:focus {
  background-color: rgba(74,222,128,1);
  color: #333;
  /* border-color: #007BFF; */
  outline: none; /* Remove default outline for a cleaner look */
}

#editBtn{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: .5rem;
  background-color: transparent;
}

#editBtn:hover{
  border: none;
  border: rgba(17, 25, 40, 0.5) solid 1px;
}

.printText{
  font-family: 'Times New Roman', Times, serif !important;
}

input:focus{
  border: solid 1px black !important;
  outline: solid 2px rgba(74,222,128,1) !important;
}