:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100dvw;
  height: 100dvh;
  --bg: #FFF;
  --black: #121212;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

body {
  background-color: transparent;
}

body::before {
  content: '';
  position: fixed;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(250, 99, 42, .8) 0%, rgba(255, 255, 254, 0) 70%);
  bottom: -450px;
  left: 200px;
  z-index: -1;
}

body::after {
  content: '';
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(0, 98, 236, .8) 0%, rgba(255, 255, 254, 0) 70%);
  position: fixed;
  top: -500px;
  right: 200px;
  z-index: -1;
}

.mainEntry::before {
  content: '';
  position: fixed;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(255, 194, 52, .8) 0%, rgba(255, 255, 254, 0) 70%);
  top: -200px;
  left: -450px;
  z-index: -1;
}

.mainEntry::after {
  content: '';
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(19, 191, 147, .8) 0%, rgba(255, 255, 254, 0) 70%);
  position: fixed;
  bottom: -350px;
  right: -450px;
  z-index: -1;
}

.mainTable::before {
  content: '';
  position: fixed;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(255, 194, 52, .8) 0%, rgba(255, 255, 254, 0) 70%);
  top: -200px;
  left: -450px;
  z-index: -1;
}

.mainTable::after {
  content: '';
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, rgba(19, 191, 147, .8) 0%, rgba(255, 255, 254, 0) 70%);
  position: fixed;
  bottom: -350px;
  right: -250px;
  z-index: -1;
}

.titleHead {
  color: var(--black);
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: 600;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }

  * {
    margin: 0;
  }
}

.mainEntry {
  width: 50dvw;
  display: grid;
  grid-template-columns: repeat(2, auto);
  color: var(--black);
  background-color: transparent;
  padding: 1rem;
  gap: 2rem;
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */



  button {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .col1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .col2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;


    label {
      text-align: left;
      /* padding-bottom: .25rem; */
      font-weight: 500;
    }

    label::after {
      content: ':';
    }
  }

  input {
    padding: .25rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
    /* border-radius: .5rem; */
    border: none;
    border-bottom: var(--black) solid 1px;
    background-color: var(--bg);
    background-color: transparent;
    width: auto;
  }

  ::placeholder{
    color: #505050;
  }

  input:focus {
    border-bottom: solid 2px var(--black);
    margin-bottom: -1px;
    outline: none;
  }

  select:focus {
    border-bottom: solid 2px var(--black);
    margin-bottom: -1px;
    outline: none;
  }


  input[type="text"]:disabled {
    color: #656565;
  }

  select {
    font-size: 1rem;
    padding: .5rem;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px var(--black);
    outline: none;
    color: var(--black);
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  button {
    /* background: rgb(216,242,110); */
    /* background: linear-gradient(320deg, rgba(216,242,110,1) 0%, rgba(34,253,210,1) 100%); */
    background-color: var(--black);
    border: none;
    color: var(--bg);
  }


  * {
    /* outline: red solid 1px; */
  }
}

.mainTable {
  width: 60dvw;
  border-radius: 2rem;
  color: var(--black);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }

  .userInfo {
    display: grid;
    width: 100%;
    color: var(--black);
    outline: var(--black) solid 1px;
    backdrop-filter: blur(14px) saturate(100%);
    -webkit-backdrop-filter: blur(14px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.05);
    grid-auto-flow: column;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    text-align: left;
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;

    >*{
      /* border: solid 1px red; */
    }

    span {
      display: block;
      font-size: .9rem;
      color: #000000;
      font-weight: 400;
    }

    p {
      font-size: 1rem;
      font-weight: 700;
    }

    >* {
      /* outline: solid 1px yellow; */
      margin: 0;
    }
  }

  .examLinks {
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* width: 100%; */
    /* border: solid 1px red; */

    div {
      /* border: solid 1px red; */
      width: 100%;
      border-radius: .5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      /* outline: rgb(197, 197, 197) solid 1px; */
      color: var(--black);
    outline: var(--black) solid 1px;
    backdrop-filter: blur(14px) saturate(100%);
    -webkit-backdrop-filter: blur(14px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.05);

      h1 {
        font-size: 1rem;
        margin: 0;
      }

      svg {
        align-self: center;
        /* background: linear-gradient(320deg, rgba(216,242,110,1) 0%, rgba(34,253,210,1) 100%); */
        padding: 1rem;
        border-radius: 1rem;
      }
    }


    >* {

      /* height: 30dvh; */
    }

    a {
      background: var(--black);
      font-size: 1rem;
      padding: .5rem;
      margin: 0;
      color: #FFFFFE;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    p {
      margin: 0;
    }
  }

  /* >*{outline: solid 1px red;} */
}


.examBox{
  color: var(--black);
  *{
    list-style-type: none;
  }

  button{
    background-color: var(--black);
  }
}
.questionContainer{
  width: 50dvw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.questionBox{
  background-color: #eeeeee6d;
  outline: rgb(197, 197, 197) solid 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 1rem;

  h3{
    margin: 0;
  }

  ul{
    padding: 0;
    text-align: left;
  }
}

.finalSubmit{
  background-color: var(--black);
}