@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-Semibold.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-Bold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-Extrabld.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-RegularIt.woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-SemiboldIt.woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-BoldIt.woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'proxima';
  src: url('./fonts/ProximaNova-ExtrabldIt.woff2');
  font-weight: 700;
  font-style: italic;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  

  /* overflow-x: hidden; */

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #fff;
  --black: #191A23;
  --borderColor: #000
} 

:root::before {
  content: '';
  position: fixed;
  width: 1000px;
  height: 1000px;
  /* background: rgb(185,255,102); */
  background: radial-gradient(circle, rgba(185,255,102,1) 0%, rgba(250,250,250,0) 70%);
  top: -500px;
  left: -500px;
  z-index: -1;
  border-radius: 100rem;
}

:root::after {
  content: '';
  position: fixed;
  width: 1000px;
  height: 1000px;
  /* background: rgb(185,255,102); */
  background: radial-gradient(circle, rgba(185,255,102,1) 0%, rgba(250,250,250,0) 70%);
  right: -500px;
  bottom: -500px;
  z-index: -1;
  border-radius: 100rem;
  
}

/* #root{
  >*{
    outline: solid 1px red;
  }
} */

* {
  font-family: 'proxima';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;

  /* justify-content: center;
  align-items: center; */
  /* min-height: 100lvh; */
  /* border: solid 1px red; */
}


#root {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


body {
  background-color: transparent;
  
}

#entry{
  /* background-color: var(--bg); */
  width: 100lvw;
  height: 100lvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleHead {
  width: 100%;
  color: var(--black);
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: 600;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: .5rem;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
    margin-top: -.25rem;
  }

  * {
    margin: 0;
  }
}

.mainEntry {
  width: 50dvw;
  display: grid;
  grid-template-columns: repeat(2, auto);
  color: var(--black);
  /* background-color: var(--bg);  */
  gap: 2rem;



  button {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .col1 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .col2 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;


    label {
      text-align: left;
      font-weight: 600;
    }

    label::after {
      content: ':';
    }
  }

  input {
    padding: .5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    border-radius: .5rem;
    border: solid 1px var(--borderColor);
    outline: none;
    width: auto;
    background-color: var(--bg);

  }

  ::placeholder {
    font-weight: 400;
    color: rgb(56, 56, 56);
  }

  input:focus {
    outline: none;
    outline: solid 1px var(--black);
    background-color: #B9FF66;
    box-shadow: 0px 5px;
    transition: all .2s ease;
  }

  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(0, 0, 0);
  font-weight: 500;
  -webkit-box-shadow: 0 0 0px 1000px #B9FF66 inset;
}

  select:focus {
    outline: none;
    outline: solid 1px var(--black);
    background-color: #B9FF66;

    transition: all .3s ease;

  }

  option{
    background-color: var(--bg);
  }


  input[type="text"]:disabled {
    color: var(--black);
    /* background-color: #ddd; */
    background-color:#ddd;
    color: #555555;
    font-weight: 500;
    cursor: not-allowed;
  }


  select {
    font-size: 1rem;
    border-radius: .5rem;
    padding: .5rem;
    background-color: transparent;
    /* border: solid 1px var(--borderColor);
    background-color: var(--bg); */
    color: var(--black);
    border: none;
    background-color: var(--bg);
    border: solid 1px var(--black);
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  button {
    /* background: rgb(216,242,110); */
    /* background: linear-gradient(320deg, rgba(216,242,110,1) 0%, rgba(34,253,210,1) 100%); */
    background-color: #B9FF66;
    border: none;
    border: solid 1px var(--black);
    color: var(--black);
    font-weight: 500;
  }

  button:hover{
    box-shadow: 0px 5px;
    outline: solid 1px var(--black);
    transition: all .2s ease;
  }

  button:active {
    border: none;
    outline: none;
  }


  * {
    /* outline: red solid 1px; */
  }
}

.mainTable {
  width: 100lvw;
  height: 100lvh;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* background-color: var(--bg); */

  h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
  }

  .userInfo {
    display: grid;
    width: 60%;
    color: var(--black);
    border: solid 1px var(--black);
    
    grid-auto-flow:column;
    grid-template-rows: repeat(4, auto);
    text-align: left;
    border-radius: 1rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    row-gap: .5rem;
    column-gap: 2rem; 
    /* box-shadow: 0px 5px; */


    /* background-color: var(--bg); */
    background-color: #B9FF66;
    
    h1{
      font-size:2rem;
      font-weight: 600;
      grid-column: 1/7;
      padding: .7rem 0 .5rem 0;
      border-bottom: var(--black) solid 1px;

    }

    >* {
      /* border: solid 1px red; */
    }

    span {
      display: block;
      font-size: .9rem;
      font-weight: 300;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
    }

    >* {
      /* outline: solid 1px yellow; */
      margin: 0;
    }
  }

  .userInfo:hover{
    box-shadow: 0px 5px;
    outline: solid 1px var(--black);
    transition: all .3s ease;
  }

  .examLinks {
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1.5rem;

    width: 60%;
    /* border: solid 1px red; */

    div {
      width: 100%;
      border-radius: .5rem;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      color: var(--black);
      gap: 1rem;
      border: solid 1px var(--black);
      background-color: var(--bg);

    
      h1 {
        font-size: 1rem;
        margin: 0;
        font-weight: 600;
      }

      svg {
        align-self: center;
        color: #121212;
      }
    }

    div:hover{
      background-color: #B9FF66;
      cursor:context-menu;
      outline: solid 1px var(--black);
      box-shadow: 0px 10px;
      transition: all .3s ease;

      a{
        outline: solid 1px var(--black);
      }
    }
    



    a {

      font-size: 1rem;
      padding: .5rem;
      margin: 0;
      color: var(--black);
      font-weight: 500;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: solid 1px var(--black);
      color: var(--black);
    }
    
    a:hover{
      /* background-color: var(--black); */
      box-shadow: 5px 10px;

      /* color: #B9FF66; */
      box-shadow: 0px 5px;
      /* font-weight: 400; */
      transition: all .3s ease;

    }

    p {
      margin: 0;
    }
/* 
    .math{
      background-color: #ef233c;
    }
    .eng{
      background-color: #0075C4;
    } */
    
  }
  

  #submitExam{
    /* background-color: var(--black);
    color: var(--bg);
    font-weight: 500; */
  }

}


.examBox {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  text-align: center;
  color: var(--black);
  
  * {
    list-style-type: none;

    button {
      background-color: var(--black);
    }
  }

  h2{
    font-size: 1.5rem;
    padding: .5rem;
    font-weight: 600;
    border: solid 1px var(--black);
    width: 50%;
    border-radius: 1rem;
    background-color: #B9FF66;
  }

  .questionContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
  }

  .questionBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--black);
    padding: 1rem;
    border: solid 1px var(--black);
    border-radius: 1rem;
    background-color: #e4e4e4;
    /* box-shadow: 0px 5px; */




    p {
      margin: 0;
      text-align: left;
      color: var(--black);
      margin-bottom: 1rem;
      font-size: 1.15rem;
      font-weight: 500;
      cursor: context-menu;
    }

    ul {
      padding: 0;
      margin: 0;
      text-align: left;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 1rem;

      li {
        width: 100%;
        background-color: var(--bg);
        border: solid 1px var(--black);
        border-radius: .5rem;
      }

      li:hover{
        /* background-color: var(--black); */
        /* color: #B9FF66; */
        background-color: #B9FF66;
        outline: solid 1px var(--black);
        transition: all .3s ease;
      }

      label {
        width: 100%;
        padding: .3rem;
        display: block;
        cursor: pointer;
      }

    }

  }

  .questionBox:hover{
    outline: none;
    outline: solid 1px var(--black);
    /* background-color: #B9FF66; */
    box-shadow: 0px 5px;
    transition: all .5s ease;
  }

  .submitExam{
    /* margin-top:1rem; */
    /* margin-bottom: 2rem; */
    background-color: #B9FF66;
    border: solid 1px var(--black);
    color: var(--black);
    grid-column: 1/6;
    width: 100%;
  }

  .submitExam:hover{
    outline: solid 1px var(--black);
    /* background-color: #B9FF66; */
    box-shadow: 0px 5px;
    transition: all .25s ease;
  }
}

.finalSubmit {
  background-color: var(--black);
}


#printContainer {
  /* border: solid 1px red; */
  /* max-width: 700.8px; */
  min-width: 8.5in;
  /* max-height: 1027.2px; */
  min-height: 14in;
  background-color: white;
  color: var(--black);
  display: grid;
  padding: 1.5rem;
*{  line-height: 1.6;}

  /* * {font-family: Palatino;} */

  *{box-sizing: border-box;}  

  span {
    /* text-decoration: underline; */
  }

  p {
    font-size: 11pt;
  }

  h3 {
    font-weight: 500;
    font-size: 1rem;
  }

  * {
    margin: 0;
    padding: 0;
  }
}

#headerTitle {
  /* border: solid 1px red; */
  /* height: 5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'proxima' !important;

  h1 {
    font-size: 30pt;
    font-weight: 500;
    /* border: solid 1px blue; */
    margin: 0;
    color: black;

    img{
      width: 4.5rem;
      height: 4rem;
    }




  }


  h3 {
    margin-top: -1.5rem;
  }


}

img {
  padding-right: .5rem !important;
  vertical-align: middle;
  /* width: 15%; */
}

.regTitle {
  padding: .5rem 0 !important;
  font-weight: 600;
}

#schoolLogo {
  /* height: 100%; */
  /* object-fit: contain; */
}

#infoContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  text-align: left;
  gap: .5rem;


  * {
    /* border: solid 1px red; */
  }

  #name {
    grid-column: 1/4;
  }

  #address {
    grid-column: 1/5;
  }

  #birthday {
    grid-column: 1/2;
  }

  #birthplace {
    grid-column: 2/5;
  }

  #contactNum {
    grid-column: 1/2;
  }

  #guardian {
    grid-column: 2/5;
  }

  #schoolLastAdd,
  #courseTaken,
  #schoolLast {
    grid-column: 1/5;
  }

  #courseInfo {
    grid-column: 1/5;
  }

  #courseOne,
  #courseTwo {
    grid-column: 2/5;
    margin-left: -10rem;
  }

  span{
    border-bottom: 1px solid black;
  }

}

#reqBox {
  /* border: solid 1px red; */
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: dashed 1px black;
  margin-bottom: 1rem;
  /* padding: 1rem; */
  /* *{border: solid 1px red;} */
  /* border: solid 1px red; */


  .reqList {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
  }

  .nameSig {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nameSig {
    grid-column: 2/4;
    text-align: center;
  }



}

.namePlate::after {
  content: '';
  width: 100%;
  border-bottom: solid 1px var(--black);
  display: block;
  text-align: center;

}

h4 {
  text-align: left;
  /* padding-top: 1rem; */
}

.letterScore {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, 1fr);


  #date {
    text-align: right;
    margin-bottom: 2rem;
    grid-column: 2/4;
  }

  span {
    font-style: italic;
    /* font-weight: 400 !important; */
  }

  #letter1 {
    grid-column: 1/4;
  }

  .nameSig {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nameSig {
    grid-column: 2/4;
    text-align: center;
  }
}

#examResult {
  display: grid;
  grid-template-columns: repeat(2, auto);
  text-align: left;

  .nameSig {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sig {
    width: 14rem;

  }

  .sigBox {
    margin-top: 4rem;
  }

  p {
    grid-column: 1/3;
  }

  .sirPabs {
    grid-column: 1/2;
  }

}

.namePlate {
  font-weight: 600;
}

#pdf {
  /* background-color: var(--black); */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 10px;
  color: var(--black);
  border-radius: .5rem;
  background-color: transparent;
}

#pdf:hover{
  border: none;
  border: rgba(17, 25, 40, 0.5) solid 1px;
}

#submitExamBox{
  width: 60%;
  background-color: #B9FF66;
  font-size: 1rem;
  padding: .5rem;
  margin: 0;
  color: #FFFFFE;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  border: solid 1px var(--black);
}

#submitExamBox:hover{
  /* background-color: var(--black); */
  /* color: #B9FF66; */
  outline: solid 1px var(--black);
  box-shadow: 0px 5px;

  transition: all .3s ease;
}


#submitExam {
  background-color: #B9FF66;
  color: var(--black);
  width: 100%;
}

.userData{
  border-bottom: solid 1px black;
}